/* NAVBAR */
.nav-link {
  font-size: 18px;
  color: white;
}

a {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #a0a0a0;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
a:hover {
  color: #ffffff;
}
a:hover:after {
  width: 100%;
}

main {
  background-color: aliceblue;
}
